{%- if include.posts.size > 0 -%}
{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
<ul class="post-yp-list">
    {%- for category in include.categories -%}
        {%- if category == empty -%}
            {%- continue -%}
        {%- endif -%}

        {%- comment -%} Diary: id, 他: category で抽出 ※ github pages では where_exp 内で or が利用できなかった {%- endcomment -%}
        {%- assign posts_cateogry = include.posts | where_exp: "post", "post.categories contains category" -%}
        {%- if posts_cateogry == empty -%}
            {%- assign posts_cateogry = include.posts | where_exp: "post", "post.url contains category" -%}
            {%- if posts_cateogry == empty -%}
                {%- continue -%}
            {%- endif -%}
        {%- endif -%}

        <h4>
            {{ category }}
        </h4>

        {%- for post in posts_cateogry -%}
        <li>
            <span class="post-meta">{{ post.date | date: date_format }}</span>
            <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </li>
        {%- endfor -%}
        
        <br>

    {%- endfor -%}
</ul>
{%- endif -%}