{%- if include.posts.size > 0 -%}

{% comment %}
{%- for post in include.posts -%}
    <div>- {{ post.category}} --- {{ post.title }} --- {{ post.categories }} --- {{ post.id }}</div>    
{%- endfor -%}
{% endcomment %}

{% comment %}
<div>-------------------------------</div>
{%- for category in include.categories -%}
    {%- if category == empty -%}
        {%- continue -%}
    {%- endif -%}
    <div>{{ category }}</div>
    {%- assign posts_cateogry = include.posts | where_exp: "post", "post.id contains category" -%}
    {%- for post in posts_cateogry -%}
        <div>- {{ post.category}} --- {{ post.title }} --- {{ post.categories }} --- {{ post.id }}</div>    
    {%- endfor -%}
    <div>-------------------------------</div>
{%- endfor -%}
{% endcomment %}

{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
<ul class="post-yp-list">
    {%- for category in include.categories -%}
        {%- if category == empty -%}
            {%- continue -%}
        {%- endif -%}

        {% comment %} Diary: id, 他: category で抽出 {% endcomment %}
        {%- assign posts_cateogry = include.posts | where_exp: "post", "post.categories contains category or post.id contains category" -%}
        {%- if posts_cateogry == empty -%}
            {%- continue -%}
        {%- endif -%}

        <h4>
            {{ category }}
        </h4>

        {%- for post in posts_cateogry -%}
        <li>
            <span class="post-meta">{{ post.date | date: date_format }}</span>
            <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </li>
        {%- endfor -%}
        
        <br>

    {%- endfor -%}
</ul>
{%- endif -%}