#errorText {
    text-align: center;
    background-color: black;
    color: red;
    white-space: pre-wrap;
}
#warnText {
    text-align: center;
    background-color: black;
    color: yellow;
    white-space: pre-wrap;
}
