/**
* Typing
*/
.typingArea{
    text-align:center;

    #wordList {
        .word {
            border: 1px solid #aaa;
            border-radius: 4px;
            padding: .5em .5em 0;
            margin: 1em;
          
            .japanese {
                @include relative-font-size(1.5);
            }
            .typing {
                @include relative-font-size(1.5);
                font-weight: bold;
            }
        }
    }
}
