<div id="book-ui-middle">
    <div class="book-ui-group">
        <input type="button" value="{{ page.nextLabel | default: '次章' }}" id="page-nextLink" onclick="location.href='{{ page.nextNovel | relative_url }}'" {% unless page.nextNovel contains "contents" %}disabled{% endunless %}/>
    </div>    
    <div class="book-ui-group">
        <input type="button" value="集中モード切り替え(F)"  id="readModeButton" />
    </div>
    <div class="book-ui-group">
        <input type="button" value="{{ page.prevLabel | default: '前章' }}" id="page-prevLink" onclick="location.href='{{ page.prevNovel | relative_url }}'" {% unless page.prevNovel contains "contents" %}disabled{% endunless %}/>
    </div>
</div>
  
<div id="book-ui-footer">
    <details>
        <summary>Debug & HowTo</summary>
        <div class="book-ui-group">
            <input type="button" value="スクロール位置取得"  id="getScroll" />
            <span id="scrollLeftLabel"></span> 
        </div>
        <br>
        <hr>
        <div>推奨</div>
        <div>　fontSize: 18</div>
        <div>　Spread(見開き) </div>
        <div>　※推奨以外でも見れますので環境に合せてください。 </div>
        <br>
        <div>諸注意</div>
        <div>　ページ数は fontSize と 見開きor半分サイズ の組み合わせで無限に変動する。</div>
        <div>　[18 S H] は Spread(見開き) と Half(半分) の時に丁度良いフォントサイズを意味する。</div>
        <br>
        <hr>
        <div>次章/前章 (あとがき など）</div>
        <div>　各種設定を引き継いで前後のお話にページ遷移します。</div>
        <div>　引継ぎ設定: 集中モード, color, fontSize, サイズ</div>
        <div>　※「session消去」ボタンを押すと引継ぎ設定をリセット出来ます。</div>
        <br>
        <hr>
        <div>Mouse</div>
        <div>　クリック（左側/右側）: ページ進め/戻り</div>
        <br>
        <div>Key</div>
        <div>　左右キー: ページ進め/戻り</div>
        <div>　上下キー: フォントサイズ上げ/下げ</div>
        <div>　Lキー: ライトテーマ</div>
        <div>　Dキー: ダークテーマ</div>
        <div>　Mキー: 横長サイズ</div>
        <div>　Sキー: 見開きサイズ</div>
        <div>　Hキー: 半分サイズ（スマホなどで？）</div>
        <div>　Fキー: 集中モード</div>
        <br>
        <div>Touch(スマホ)</div>
        <div>　スワイプ（→/←）: ページ進め/戻り</div>
        <br>
        <div>例</div>
        <div>　dark にして multi にして 集中モード ( Dキー > Mキー > Fキー ) </div>
    </details>
</div>