@use "sass:color";
@use "sass:math";
@use "../minima" as minima;
/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}



/**
 * Basic styling
 */
body {
  font: minima.$base-font-weight #{minima.$base-font-size}/#{minima.$base-line-height} minima.$base-font-family;
  color: minima.$text-color;
  background-color: minima.$background-color;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
     -moz-font-feature-settings: "kern" 1;
       -o-font-feature-settings: "kern" 1;
          font-feature-settings: "kern" 1;
  font-kerning: normal;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: math.div(minima.$spacing-unit,2);
}



/**
 * `main` element
 */
main {
  display: block; /* Default value of `display` of `main` element is 'inline' in IE 11. */
}



/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
  display: block;
}

figcaption {
  font-size: minima.$small-font-size;
}



/**
 * Lists
 */
ul, ol {
  margin-left: minima.$spacing-unit;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: minima.$base-font-weight;
}



/**
 * Links
 */
a {
  color: minima.$brand-color;
  text-decoration: none;

  &:visited {
    color: color.adjust(minima.$brand-color, $lightness: -15%);
  }

  &:hover {
    color: minima.$text-color;
    text-decoration: underline;
  }

  .social-media-list &:hover {
    text-decoration: none;

    .username {
      text-decoration: underline;
    }
  }
}


/**
 * Blockquotes
 */
blockquote {
  color: minima.$grey-color;
  border-left: 4px solid minima.$grey-color-light;
  padding-left: math.div(minima.$spacing-unit,2);
  @include minima.relative-font-size(1.125);
  letter-spacing: -1px;
  font-style: italic;

  > :last-child {
    margin-bottom: 0;
  }
}



/**
 * Code formatting
 */
pre,
code {
  @include minima.relative-font-size(0.9375);
  border: 1px solid minima.$grey-color-light;
  border-radius: 3px;
  background-color: #eef;
  font-family: "Menlo","Inconsolata","Consolas","Roboto Mono","Ubuntu Mono","Liberation Mono","Courier New",monospace;
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}



/**
 * Wrapper
 */
.wrapper {
  max-width: -webkit-calc(#{minima.$content-width} - (#{minima.$spacing-unit} * 2));
  max-width:         calc(#{minima.$content-width} - (#{minima.$spacing-unit} * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: minima.$spacing-unit;
  padding-left: minima.$spacing-unit;
  @extend %clearfix;

  @include minima.media-query(minima.$on-laptop) {
    max-width: -webkit-calc(#{minima.$content-width} - (#{minima.$spacing-unit}));
    max-width:         calc(#{minima.$content-width} - (#{minima.$spacing-unit}));
    padding-right: math.div(minima.$spacing-unit,2);
    padding-left: math.div(minima.$spacing-unit,2);
  }
}



/**
 * Clearfix
 */
%clearfix:after {
  content: "";
  display: table;
  clear: both;
}



/**
 * Icons
 */

.svg-icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    fill: #{minima.$grey-color};
    padding-right: 5px;
    vertical-align: text-top;
}

.social-media-list {
  li + li {
    padding-top: 5px;
  }
}



/**
 * Tables
 */
table {
  margin-bottom: minima.$spacing-unit;
  width: 100%;
  text-align: minima.$table-text-align;
  color: color.adjust(minima.$text-color, $lightness: 18%);
  border-collapse: collapse;
  border: 1px solid minima.$grey-color-light;
  tr {
    &:nth-child(even) {
      background-color: color.adjust(minima.$grey-color-light, $lightness: 6%);
    }
  }
  th, td {
    padding: (math.div(minima.$spacing-unit,3)) (math.div(minima.$spacing-unit,2));
  }
  th {
    background-color: color.adjust(minima.$grey-color-light, $lightness: 3%);
    border: 1px solid color.adjust(minima.$grey-color-light, $lightness: -4%);
    border-bottom-color: color.adjust(minima.$grey-color-light, $lightness: -12%);
  }
  td {
    border: 1px solid minima.$grey-color-light;
  }
}
