/**
 * Site header
 */
.site-header {
  border-top: 5px solid $grey-color-dark;
  border-bottom: 1px solid $grey-color-light;
  min-height: $spacing-unit * 1.865;

  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-title {
  @include relative-font-size(1.625);
  font-weight: 300;
  line-height: $base-line-height * $base-font-size * 2.25;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;

  &,
  &:visited {
    color: $grey-color-dark;
  }
}

.site-nav {
  float: right;
  line-height: $base-line-height * $base-font-size * 2.25;

  .nav-trigger {
      display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        fill: $grey-color-dark;
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}



/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit/2 0;
  // padding: $spacing-unit 0;
}

.footer-text {
  text-align: center;
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}



/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
  flex: 1;
}

.page-heading {
  @include relative-font-size(2);
}

.home-post-type {
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 40%);
  margin: 1em;
  border: 1px solid #aaa;
  border-radius: 4px;
  text-align: center;
}

.home-post-list-heading {
  margin: 20px auto;
  @include relative-font-size(1.75);
}

.home-post-moreread-link {
  @include relative-font-size(1.0);
}


.post-list-heading {
  @include relative-font-size(1.75);
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-reservation {
  background-color: black;
  text-align: center;
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  @include relative-font-size(1.5);
}

.post-yp-list {
  margin-left: 0;
  list-style: none;

  // > li {
  // }
}

.annotation {
  font-weight    : bold;
  border-radius  : 8px;
  font-size      : 10px;
  letter-spacing : -1px;
  padding        : 0px 6px;
  vertical-align : middle;
}
.new {
  margin-left    : -38px;
  background     : #ff0000;
  color          : #ffffff;
  animation      : newAnime .8s infinite alternate;
}
@keyframes newAnime {
  0% {  color      : #ff0000;          /* ブリンク時の文字色      */
        background : #ffffff;          /* ブリンク時の背景色      */
      }
100% {  color      : #ffffff;          /* ブリンク時の文字色      */
        background : #ff0000;          /* ブリンク時の背景色      */
      }
}
.week {
  margin-right   : -38px;
  background     : #0000ff;
  color          : #ffffff;
  animation      : weekAnime .8s infinite alternate;
}
@keyframes weekAnime {
  0% {  color      : #0000ff;          /* ブリンク時の文字色      */
        background : #ffffff;          /* ブリンク時の背景色      */
      }
100% {  color      : #ffffff;          /* ブリンク時の文字色      */
        background : #0000ff;          /* ブリンク時の背景色      */
      }
}
.reserve {
  margin-left   : -38px;
  background     : #00ff00;
  color          : #000000;
  animation      : reserveAnime .8s infinite alternate;
}
@keyframes reserveAnime {
  0% {  color      : #00ff00;          /* ブリンク時の文字色      */
        background : #000000;          /* ブリンク時の背景色      */
      }
100% {  color      : #000000;          /* ブリンク時の文字色      */
        background : #00ff00;          /* ブリンク時の背景色      */
      }
}

/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;
  font-weight: bold;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(2);
    
    font-weight: bold;
    padding: 0.25rem 0.8rem;
    background: #e9e9e9;
    border-bottom: solid 2px #888;
    border-left: solid 2px #aaa;
    
    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }
  
  h3 {
    @include relative-font-size(1.625);
    
    font-weight: bold;
    padding: 0.25rem 0.8rem;
    border-bottom: solid 2px #aaa;

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    padding: 0.125rem 0.8rem;
    // border-bottom: solid 1px #ddd;
    border-left: solid 4px #aaa;
  
    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}

details {
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: .5em .5em 0;
  margin: 1em;
}

summary {
  font-weight: bold;
  margin: -.5em -.5em 0;
  padding: .5em;
}

details[open] {
  padding: .5em;
}

details[open] summary {
  border-bottom: 1px solid #aaa;
  margin-bottom: .5em;
}
