---
layout: page
---
{{ content }}

<div id="player"></div>
  {% assign apiKey = site.data.key[0].youtubeApiKey %}
  <span>API Key: </span>
  <input id="apiKey" type="text" name="" value="{{ apiKey }}">
  <button id="emptyButton" type="button" name="button">空</button>
  
  <div>
    <form id="eventTypeBox">
      <input name="eventType" type="radio" value="video"> video
      <input name="eventType" type="radio" value="live" checked> live
    </form>
    <input id="inputText" type="text" name="" value="RTA">
    <button id="searchButton" type="button" name="button">検索</button>
    <button id="nextButton" type="button" name="button" disabled>次へ</button>
    <button id="prevButton" type="button" name="button" disabled>戻る</button>
    <div id="pageNum">--- / ---</div>
  </div>

  <div id="errorText"></div>
  
  <div id="onairList"></div>
</div>