{%- if include.posts.size > 0 -%}
{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
<div class="home-post-type">
    <h2 class="home-post-list-heading">{{ page.list_title | default: include.type | capitalize }}</h2>
    <ul class="post-list">

        {%- for post in include.posts limit: include.limit -%}
        <li>
            <span class="post-meta">{{ post.date | date: date_format }}</span>
            {%- if include.showCategory -%}
                <span class="post-meta">
                    [
                    {%- for category in include.categories -%}
                        {%- if post.categories contains category -%}
                            {{ category }}
                        {%- endif -%}
                    {%- endfor -%}
                    ]
                </span>
            {%- endif -%}

            <h3>
                <a class="post-link" href="{{ post.url | relative_url }}">
                    {{ post.title | escape }}
                </a>
            </h3>

            {%- if site.show_excerpts -%}
            {{ post.excerpt }}
            {%- endif -%}
        </li>
        {%- endfor -%}

        <a class="home-post-moreread-link" href="/{{ include.type }}">
            もっと見る
        </a>

    </ul>
    {%- endif -%}
</div>