name: Testing the GitHub Pages publication

on:
  push:
    branches:
      - master
  # schedule:
  #   - cron:  "0 15 * * *"

jobs:
  jekyll:
    # environment: github-pages
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Setup Ruby & Bundler
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.4.8'
          bundler-cache: true

      - name: Install dependencies
        run: bundle install

      - uses: helaili/jekyll-action@2.0.1
        env:
          JEKYLL_PAT: ${{ secrets.GITHUB_TOKEN }}

    # permissions:
    #   pages: write
    #   id-token: write

    # steps:
    # - uses: actions/checkout@v4

    # - name: Setup Ruby & Bundler
    #   uses: ruby/setup-ruby@v1
    #   with:
    #     ruby-version: '3.4.8'
    #     bundler-cache: true

    # - name: Install dependencies
    #   run: bundle install

    # - name: Build Jekyll site
    #   run: bundle exec jekyll build

    # - name: Upload static files as artifact
    #   uses: actions/upload-pages-artifact@v3
    #   with:
    #     path: ./_site # Jekyllの出力ディレクトリ

    # - name: Deploy to GitHub Pages
    #   id: deployment
    #   uses: actions/deploy-pages@v4

    #------------------------------------------------------

    # # Use GitHub Actions' cache to shorten build times and decrease load on servers
    # - uses: actions/cache@v4
    #   with:
    #     path: vendor/bundle
    #     key: ${{ runner.os }}-gems-${{ hashFiles('**/Gemfile') }}
    #     restore-keys: |
    #       ${{ runner.os }}-gems-

    # # Standard usage
    # - uses:  helaili/jekyll-action@v2
    #   with:
    #     token: ${{ secrets.GITHUB_TOKEN }}