name: Testing the GitHub Pages publication

on:
  push:
    branches:
      - master
  # schedule:
  #   - cron:  "0 15 * * *"

jobs:
  jekyll:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Setup Ruby & Bundler
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: '3.4.8'
        bundler-cache: true

    - name: Install dependencies
      run: bundle install

    # Use GitHub Actions' cache to shorten build times and decrease load on servers
    - uses: actions/cache@v4
      with:
        path: vendor/bundle
        key: ${{ runner.os }}-gems-${{ hashFiles('**/Gemfile') }}
        restore-keys: |
          ${{ runner.os }}-gems-

    # Standard usage
    - uses:  helaili/jekyll-action@v2
      with:
        token: ${{ secrets.GITHUB_TOKEN }}